<header class="header-4">
    <div class="branding">
        <span class="title">{{'navbarPage.title' | translate}}</span>
    </div>    
    <div class="header-nav">
        <a routerLink="/admit-patient" class="nav-link nav-icon-text">
            <clr-icon shape="form" class="is-inverse"></clr-icon>
            <span class="nav-text">Admit Patient</span>
        </a>
    </div>
    <div class="header-actions">
        <clr-dropdown class="languageDropDown">
            <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
                {{currentLanguage}}
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <div clrDropdownItem *ngFor="let language of languageList" (click)="changeLanguage(language.code)">
                    <a>{{language.display}}</a>
                </div>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>