<div class="clr-row">
    <div class="clr-col-1 clr-col-sm-3 clr-col-md-3 clr-col-lg-2"></div>
    <div class="clr-col-10 clr-col-sm-6 clr-col-md-6 clr-col-lg-8">
        <form [formGroup]="questionnaireForm" class="clr-form clr-form-horizontal">
            <div class="clr-row">
                <div class="clr-col-6">
                    <clr-input-container>
                        <label>URL</label>
                        <input clrInput type="text" formControlName="url" name="url" />
                    </clr-input-container>
                </div>
                <div class="clr-col-6">
                    <clr-input-container>
                        <label>Version</label>
                        <input clrInput type="text" formControlName="version" name="version" />
                    </clr-input-container>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-6">
                    <clr-input-container>
                        <label>Name</label>
                        <input clrInput type="text" formControlName="name" name="name" />
                    </clr-input-container>
                </div>
                <div class="clr-col-6">
                    <clr-input-container>
                        <label>Title</label>
                        <input clrInput type="text" formControlName="title" name="title" />
                    </clr-input-container>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-6">
                    <clr-input-container>
                        <label>Status</label>
                        <input clrInput type="text" formControlName="status" name="status" />
                    </clr-input-container>
                </div>
                <div class="clr-col-6">
                    <clr-input-container>
                        <label>Experimental</label>
                        <input clrInput type="text" formControlName="experimental" name="experimental" />
                    </clr-input-container>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-6">
                    <clr-input-container>
                        <label>Date</label>
                        <input clrInput type="text" formControlName="date" name="date" />
                    </clr-input-container>
                </div>
                <div class="clr-col-6">
                    <clr-input-container>
                        <label>Publisher</label>
                        <input clrInput type="text" formControlName="publisher" name="publisher" />
                    </clr-input-container>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-6">
                    <clr-input-container>
                        <label>Description</label>
                        <input clrInput type="text" formControlName="description" name="description" />
                    </clr-input-container>
                </div>
                <div class="clr-col-6">
                    <clr-input-container>
                        <label>Purpose</label>
                        <input clrInput type="text" formControlName="purpose" name="purpose" />
                    </clr-input-container>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-6">
                    <clr-input-container>
                        <label>Approval Date</label>
                        <input clrInput type="text" formControlName="approvalDate" name="approvalDate" />
                    </clr-input-container>
                </div>
                <div class="clr-col-6">
                    <clr-input-container>
                        <label>Last Review Date</label>
                        <input clrInput type="text" formControlName="lastReviewDate" name="lastReviewDate" />
                    </clr-input-container>
                </div>
            </div>
        </form>
    </div>
    <div class="clr-col-1 clr-col-sm-3 clr-col-md-3 clr-col-lg-2"></div>
</div>