<header class="header-6">
    <div class="branding">
        <a href="#" class="nav-link">
            <span class="title">Questionnaire Generator</span>
        </a>
    </div>
    <div class="header-nav">
        <a [routerLink]="['/r4']" class="nav-link"><span class="nav-text">R4</span></a>
        <a [routerLink]="['/dstu3']" class="nav-link"><span class="nav-text">DSTU3</span></a>
    </div>
    <div class="header-actions">
        <a href="#" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="info-circle"></clr-icon>
        </a>
    </div>
</header>