<div class="clr-row">
    <div class="clr-col-1 clr-col-sm-3 clr-col-md-3 clr-col-lg-2"></div>
    <div class="clr-col-10 clr-col-sm-6 clr-col-md-6 clr-col-lg-8">
        <div class="additionalPadding"></div>
        <div *ngIf="formSubmitted">
            <button class="btn btn-link back-button" *ngIf="formSubmitted" (click)="changeView()">
                <clr-icon shape="caret left"></clr-icon>{{ 'commonUse.backBtnLabel' | translate }}
            </button>
            <p>{{'appendix1.completionLabel' | translate}}</p>
        </div>

        <h2 *ngIf="!formSubmitted">{{ 'appendix1.header' | translate }}</h2>

        <form clrForm clrStepper [formGroup]="sarsForm" clrLayout="vertical" *ngIf="!formSubmitted">
            <!-- Clinician Information -->
            <div class="clr-row" formGroupName=health_care_provider>
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                    <clr-input-container>
                        <label>{{'appendix1.healthCareProviderLabel' | translate}}</label>
                        <input clrInput type="text" formControlName="full_name" />
                    </clr-input-container>
                </div>
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                    <clr-input-container>
                        <label>{{'appendix1.phoneLabel' | translate}}</label>
                        <input clrInput type="text" formControlName="phone" placeholder="0000000000"/>
                    </clr-input-container>
                </div>
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                    <clr-input-container>
                        <label>{{'appendix1.faxLabel' | translate}}</label>
                        <input clrInput type="text" formControlName="fax" />
                    </clr-input-container>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-12">
                    <p>{{'appendix1.probableCaseNote' | translate}}</p>
                </div>
            </div>
            <div class="additionalPadding"></div>
            <!-- Patient Demographics Stepper -->
            <clr-stepper-panel formGroupName="patient_demographics">
                <clr-step-title>{{'appendix1.patientDemographicsHeader' | translate}}</clr-step-title>
                <clr-step-content *clrIfExpanded>
                    <div class="clr-row">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label>{{'appendix1.firstNameLabel' | translate}}</label>
                                <input clrInput formControlName="first_name" />
                            </clr-input-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label>{{'appendix1.lastNameLabel' | translate}}</label>
                                <input clrInput formControlName="last_name" />
                            </clr-input-container>
                        </div>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-date-container>
                                <label>{{'appendix1.dobLabel' | translate}}</label>
                                <input type="date" clrDate formControlName="birth_date">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-radio-container clrInline>
                                <label>{{'appendix1.genderLabel' | translate}}</label>
                                <clr-radio-wrapper *ngFor="let gender of 'appendix1.genderRadioLabels' | translate">
                                    <input type="radio" clrRadio [value]="gender.value"
                                        formControlName="gender_choice" />
                                    <label>{{gender.viewValue}}</label>
                                </clr-radio-wrapper>
                            </clr-radio-container>
                        </div>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label>{{'appendix1.addressLabel' | translate}}</label>
                                <input clrInput formControlName="address" />
                            </clr-input-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label>{{'appendix1.cityLabel' | translate}}</label>
                                <input clrInput formControlName="city" />
                            </clr-input-container>
                        </div>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label>{{'appendix1.provinceLabel' | translate}}</label>
                                <input clrInput formControlName="province" />
                            </clr-input-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label>{{'appendix1.postalCodeLabel' | translate}}</label>
                                <input clrInput formControlName="postal_code" placeholder="L1L1L1"/>
                            </clr-input-container>
                        </div>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label>{{'appendix1.phoneLabel' | translate}}</label>
                                <input clrInput formControlName="phone" placeholder="0000000000"/>
                            </clr-input-container>
                        </div>
                    </div>
                    <button clrStepButton="next">{{'appendix1.stepperNextLabel' | translate}}</button>
                </clr-step-content>
            </clr-stepper-panel>

            <!-- Symptoms Stepper -->
            <clr-stepper-panel formGroupName="symptoms">
                <clr-step-title>{{'appendix1.symptomsHeader' | translate}}</clr-step-title>
                <clr-step-content *clrIfExpanded>
                    <div class="clr-row">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label class="mainLabels" [innerHtml]="'appendix1.feverLabel' | translate"></label>
                            </clr-input-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-radio-container clrInline>
                                <clr-radio-wrapper *ngFor="let options of 'appendix1.yesNoRadioLabels' | translate">
                                    <input type="radio" clrRadio [value]="options.value" formControlName="fever_bool"
                                        (change)="handleChange('symptoms.fever_bool')" />
                                    <label>{{options.viewValue}}</label>
                                </clr-radio-wrapper>
                            </clr-radio-container>
                        </div>
                    </div>
                    <div class="clr-row" *ngIf="sarsForm.get('symptoms.fever_bool').value === 'yes'">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-date-container>
                                <label>{{'appendix1.onsetDateLabel' | translate}}</label>
                                <input type="date" clrDate formControlName="fever_onset_date">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-textarea-container>
                                <label>{{'appendix1.commentsLabel' | translate}}</label>
                                <textarea clrTextarea formControlName="fever_comments"></textarea>
                            </clr-textarea-container>
                        </div>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label class="mainLabels">{{'appendix1.coughLabel' | translate}}</label>
                            </clr-input-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-radio-container clrInline>
                                <clr-radio-wrapper *ngFor="let options of 'appendix1.yesNoRadioLabels' | translate">
                                    <input type="radio" clrRadio [value]="options.value" formControlName="cough_bool"
                                        (change)="handleChange('symptoms.cough_bool')" />
                                    <label>{{options.viewValue}}</label>
                                </clr-radio-wrapper>
                            </clr-radio-container>
                        </div>
                    </div>
                    <div class="clr-row" *ngIf="sarsForm.get('symptoms.cough_bool').value === 'yes'">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-date-container>
                                <label>{{'appendix1.onsetDateLabel' | translate}}</label>
                                <input type="date" clrDate formControlName="cough_onset_date">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-textarea-container>
                                <label>{{'appendix1.commentsLabel' | translate}}</label>
                                <textarea clrTextarea formControlName="cough_comments"></textarea>
                            </clr-textarea-container>
                        </div>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label class="mainLabels">{{'appendix1.otherLabel' | translate}}</label>
                            </clr-input-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-radio-container clrInline>
                                <clr-radio-wrapper *ngFor="let options of 'appendix1.yesNoRadioLabels' | translate">
                                    <input type="radio" clrRadio [value]="options.value" formControlName="other_bool"
                                        (change)="handleChange('symptoms.other_bool')" />
                                    <label>{{options.viewValue}}</label>
                                </clr-radio-wrapper>
                            </clr-radio-container>
                        </div>
                    </div>
                    <div class="clr-row" *ngIf="sarsForm.get('symptoms.other_bool').value === 'yes'">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-date-container>
                                <label>{{'appendix1.onsetDateLabel' | translate}}</label>
                                <input type="date" clrDate formControlName="other_onset_date">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-textarea-container>
                                <label>{{'appendix1.commentsLabel' | translate}}</label>
                                <textarea clrTextarea formControlName="other_comment"></textarea>
                            </clr-textarea-container>
                        </div>
                    </div>
                    <button clrStepButton="next">{{'appendix1.stepperNextLabel' | translate}}</button>
                </clr-step-content>
            </clr-stepper-panel>

            <!-- Exposures Stepper -->
            <clr-stepper-panel formGroupName="exposures" class="customStepper">
                <clr-step-title>{{'appendix1.exposuresHeader' | translate}}</clr-step-title>
                <clr-step-content *clrIfExpanded>
                    <div class="clr-row">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label class="mainLabels">{{'appendix1.travelOusideCanadaLabel' | translate}}</label>
                            </clr-input-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-radio-container clrInline>
                                <clr-radio-wrapper *ngFor="let options of 'appendix1.yesNoRadioLabels' | translate">
                                    <input type="radio" clrRadio [value]="options.value" formControlName="travel_bool"
                                        (change)="handleChange('exposures.travel_bool')" />
                                    <label>{{options.viewValue}}</label>
                                </clr-radio-wrapper>
                            </clr-radio-container>
                        </div>
                    </div>
                    <div class="clr-row" *ngIf="sarsForm.get('exposures.travel_bool').value === 'yes'">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-date-container>
                                <label>{{'appendix1.travelStartDateLabel' | translate}}</label>
                                <input type="date" clrDate formControlName="travel_begin_date">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-date-container>
                                <label>{{'appendix1.travelEndDateLabel' | translate}}</label>
                                <input type="date" clrDate formControlName="travel_end_date">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-textarea-container>
                                <label>{{'appendix1.areasVisitedLabel' | translate}}</label>
                                <textarea clrTextarea formControlName="travel_areas"></textarea>
                            </clr-textarea-container>
                        </div>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label
                                    class="mainLabels">{{'appendix1.closeContactWithProbableCaseLabel' | translate}}</label>
                            </clr-input-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-radio-container clrInline>
                                <clr-radio-wrapper *ngFor="let options of 'appendix1.yesNoRadioLabels' | translate">
                                    <input type="radio" clrRadio [value]="options.value"
                                        formControlName="close_contact_before_symptom_bool"
                                        (change)="handleChange('exposures.close_contact_before_symptom_bool')" />
                                    <label>{{options.viewValue}}</label>
                                </clr-radio-wrapper>
                            </clr-radio-container>
                        </div>
                    </div>
                    <div class="clr-row"
                        *ngIf="sarsForm.get('exposures.close_contact_before_symptom_bool').value === 'yes'">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-date-container>
                                <label>{{'appendix1.contactStartDateLabel' | translate}}</label>
                                <input type="date" clrDate formControlName="close_contact_before_symptom_begin_date">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-date-container>
                                <label>{{'appendix1.contactEndDateLabel' | translate}}</label>
                                <input type="date" clrDate formControlName="close_contact_before_symptom_end_date">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-textarea-container>
                                <label>{{'appendix1.commentsLabel' | translate}}</label>
                                <textarea clrTextarea
                                    formControlName="close_contact_before_symptom_begin_date_comment"></textarea>
                            </clr-textarea-container>
                        </div>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-input-container>
                                <label class="mainLabels">{{'appendix1.closeContactWithARILabel' | translate}}</label>
                            </clr-input-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-radio-container clrInline>
                                <clr-radio-wrapper *ngFor="let options of 'appendix1.yesNoRadioLabels' | translate">
                                    <input type="radio" clrRadio [value]="options.value"
                                        formControlName="close_contact_with_travel_bool"
                                        (change)="handleChange('exposures.close_contact_with_travel_bool')" />
                                    <label>{{options.viewValue}}</label>
                                </clr-radio-wrapper>
                            </clr-radio-container>
                        </div>
                    </div>
                    <div class="clr-row"
                        *ngIf="sarsForm.get('exposures.close_contact_with_travel_bool').value === 'yes'">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-date-container>
                                <label>{{'appendix1.contactStartDateLabel' | translate}}</label>
                                <input type="date" clrDate formControlName="close_contact_with_travel_begin_date">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-date-container>
                                <label>{{'appendix1.contactEndDateLabel' | translate}}</label>
                                <input type="date" clrDate formControlName="close_contact_with_travel_end_date">
                            </clr-date-container>
                        </div>
                    </div>
                    <div class="clr-row"
                        *ngIf="sarsForm.get('exposures.close_contact_with_travel_bool').value === 'yes'">
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-date-container>
                                <label>{{'appendix1.dateOfReturnOfContactLabel' | translate}}</label>
                                <input type="date" clrDate formControlName="close_contact_with_travel_return_date">
                            </clr-date-container>
                        </div>
                        <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                            <clr-date-container>
                                <label>{{'appendix1.dateOfOnsetSymptomsOfContactLabel' | translate}}</label>
                                <input type="date" clrDate
                                    formControlName="close_contact_with_travel_symptom_onset_date">
                            </clr-date-container>
                        </div>
                    </div>
                    <button clrStepButton="next">{{'appendix1.stepperNextLabel' | translate}}</button>
                </clr-step-content>
            </clr-stepper-panel>

            <!-- Patient Action Content -->
            <div class="clr-row" formGroupName="actions">
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                    <clr-input-container>
                        <label>{{'appendix1.patientMeetsProbableCaseLabel' | translate}}</label>
                    </clr-input-container>
                </div>
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                    <clr-radio-container clrInline>
                        <clr-radio-wrapper *ngFor="let options of 'appendix1.yesNoRadioLabels' | translate">
                            <input type="radio" clrRadio [value]="options.value"
                                formControlName="meets_probable_case_bool" />
                            <label>{{options.viewValue}}</label>
                        </clr-radio-wrapper>
                    </clr-radio-container>
                </div>
            </div>
            <div class="clr-row" *ngIf="sarsForm.get('actions.meets_probable_case_bool').value === 'yes'">
                <br />
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-12">
                    <ul>
                        <li *ngFor="let advise of 'appendix1.patientAdvise' | translate">{{advise}}</li>
                    </ul>
                </div>
            </div>
            <div class="clr-row" *ngIf="sarsForm.get('actions.meets_probable_case_bool').value === 'yes'">
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-12">
                    <p [innerHtml]="'appendix1.closeContactLabel' | translate"></p>
                    <ul>
                        <li *ngFor="let closeContactDef of 'appendix1.closeContact' | translate">{{closeContactDef}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clr-row" formGroupName="actions">
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                    <clr-input-container>
                        <label>{{'appendix1.patientWorkInHealthcareLabel' | translate}}</label>
                    </clr-input-container>
                </div>
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                    <clr-radio-container clrInline>
                        <clr-radio-wrapper *ngFor="let options of 'appendix1.yesNoRadioLabels' | translate">
                            <input type="radio" clrRadio [value]="options.value"
                                formControlName="patient_working_in_healthcare_bool"
                                (change)="handleChange('actions.patient_working_in_healthcare_bool')" />
                            <label>{{options.viewValue}}</label>
                        </clr-radio-wrapper>
                    </clr-radio-container>
                </div>
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6"
                    *ngIf="sarsForm.get('actions.patient_working_in_healthcare_bool').value === 'yes'">
                    <clr-textarea-container>
                        <label>{{'appendix1.pleaseSpecifyLabel' | translate}}</label>
                        <textarea clrTextarea formControlName="patient_working_in_healthcare_comments"></textarea>
                    </clr-textarea-container>
                </div>
            </div>
            <div class="clr-row" formGroupName="actions">
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                    <clr-input-container>
                        <label>{{'appendix1.testingConductedLabel' | translate}}</label>
                    </clr-input-container>
                </div>
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                    <clr-radio-container clrInline>
                        <clr-radio-wrapper *ngFor="let options of 'appendix1.yesNoRadioLabels' | translate">
                            <input type="radio" clrRadio [value]="options.value"
                                formControlName="testing_conducted_bool"
                                (change)="handleChange('actions.testing_conducted_bool')" />
                            <label>{{options.viewValue}}</label>
                        </clr-radio-wrapper>
                    </clr-radio-container>
                </div>
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6"
                    *ngIf="sarsForm.get('actions.testing_conducted_bool').value === 'yes'">
                    <clr-date-container>
                        <label>{{'appendix1.dateOfSpecimenCollection' | translate}}</label>
                        <input type="date" clrDate formControlName="testing_conducted_date">
                    </clr-date-container>
                </div>
            </div>
            <div class="clr-row" *ngIf="sarsForm.get('actions.testing_conducted_bool').value === 'yes'">
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-12">
                    <ul>
                        <li>{{'appendix1.selfIsolateLabel' | translate}}</li>
                    </ul>
                </div>
            </div>
            <div class="clr-row" formGroupName="actions">
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                    <clr-textarea-container>
                        <label>{{'appendix1.additionalCommentLabel' | translate}}</label>
                        <textarea clrTextarea formControlName="additional_comment"></textarea>
                    </clr-textarea-container>
                </div>
            </div>
            <div class="clr-row" formGroupName="practitioner">
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                    <clr-input-container>
                        <label>{{'appendix1.completedByLabel' | translate}}</label>
                        <input clrInput formControlName="completed_by" />
                    </clr-input-container>
                </div>
                <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-6">
                    <clr-date-container>
                        <label>{{'appendix1.dateLabel' | translate}}</label>
                        <input type="date" clrDate formControlName="completed_on_date">
                    </clr-date-container>
                </div>
            </div>
            <hr class="dividerMargin">
            <div>
                <button class="btn btn-primary custom-btn" type="submit" [disabled]="sarsForm.invalid"
                    (click)="onSubmit()">{{'commonUse.submitBtn' | translate}}</button>
                <button class="btn custom-btn" type="reset">{{'commonUse.resetBtn' | translate}}</button>
            </div>
        </form>
        <div class="clr-col-1 clr-col-sm-3 clr-col-md-3 clr-col-lg-2"></div>
    </div>