<div class="content-container">
  <div class="content-area">
    <div class="clr-row">
      <div class="clr-col-sm-12 clr-col-md-12">
        <clr-tabs>
          <clr-tab>
              <button clrTabLink id="link1">Your Patients</button>
              <clr-tab-content id="content1" *clrIfActive="true">
                <table class="table table-compact">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Date of Birth (YYYY-MM-DD)</th>
                      <th>Age</th>
                      <th>Status</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let patient of patients">
                      <td class="clr-align-middle">{{ patient.first_name }}</td>
                      <td class="clr-align-middle">{{ patient.last_name }}</td>
                      <td class="clr-align-middle">{{ patient.date_of_birth }}</td>
                      <td class="clr-align-middle">{{ patient.date_of_birth ? calculateAge(patient.date_of_birth) : ''}}</td>
                      <td class="clr-align-middle">{{ patient.status }}</td>
                      <td>
                        <button class="btn btn-primary" [routerLink]="['/patient-details', patient.episodeOfCareId]" [disabled]="!(patient && patient.episodeOfCareId && patient.status !== 'finished')">Details</button>
                      </td>
                      <td>
                        <button class="btn btn-primary" [routerLink]="['/discharge-death', patient.episodeOfCareId]" [disabled]="!(patient && patient.episodeOfCareId && patient.status !== 'finished')">Discharge/Declare Dead</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </clr-tab-content>
          </clr-tab>
          <clr-tab>
              <button clrTabLink>Pool</button>
              <clr-tab-content *clrIfActive>
              ...
              </clr-tab-content>
          </clr-tab>
      </clr-tabs>
        
      </div>
    </div>
  </div>
</div>