<div class="clr-row">
    <div class="clr-col-2 clr-col-sm-4 clr-col-md-4 clr-col-lg-4"></div>
    <div class="clr-col-8 clr-col-sm-4 clr-col-md-4 clr-col-lg-4">
        <div class="additionalPadding"></div>
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-block">
                <div class="card-text">
                    <form clrForm clrLayout="horizontal">
                        <clr-input-container>
                            <label>Username</label>
                            <input clrInput placeholder="" name="name" />
                        </clr-input-container>
                        <clr-input-container>
                            <label>Password</label>
                            <input clrInput placeholder="" name="password" type="password" />
                        </clr-input-container>
                    </form>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Submit</button>
                <button class="btn btn-sm btn-link">Reset</button>
            </div>
        </div>
        <div class="clr-col-2 clr-col-sm-4 clr-col-md-4 clr-col-lg-4"></div>
    </div>
</div>